* {
	border: none;
	border-radius: 0;
	font-family: Bitstream Vera Sans;
	font-size: 12pt;
	min-height: 0;
	margin: 0;
	padding: 0;
}

window#waybar {
	background: #000000;
	color: #eaeaea;
}

.module {
	border: none;
	margin-left: 2px;
	padding-left: 2px;
	padding-right: 2px;
}

tooltip {
	background: #000000;
}
tooltip label {
	color: #eaeaea;
}

#custom-menu {
	padding-right: 0;
}

#workspaces {
	padding: 0;
}

#workspaces button {
	padding-right: 2px;
	padding-left: 2px;
}

#workspaces button.active {
	color: #000000;
	background: #7aa6da;
}

#window {
	background: #7aa6da;
	color: #000000;
}

#mpris {
	background: #c397d8;
	color: #000000;
}

#privacy-item {
	border: none;
	background: #000000;
	margin-left: 5px;
}

#wireplumber {
	min-width: 65px;
	background: #e6c547;
	color: #000000;
}

#custom-window-size {
	min-width: 30px;
	background: #7aa6da;
}

#custom-close-window {
	min-width: 30px;
	background: #7aa6da;
	padding-right: 2px;
}
